# WARN: For local development, use `http://[::1]` instead of `http://localhost` 
# since Spotify does not allow it as a valid redirect URI

NEXT_PUBLIC_API_DOMAIN=
NEXT_PUBLIC_RELAY_DOMAIN=

NEXT_SESSION_SECRET=